MONGO_URI=mongodb://talentbridge_user:talentbridge_pass@localhost:27017/talentbridge
PORT=5000
NODE_ENV=development
accessSecret=jwtaccesssecret
refreshSecret=jwtrefreshsecret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
